/* clase para colocar la imagen de fondo de todas las paginas */
.fondo {
    background-image: url(https://i.pinimg.com/736x/7c/1b/53/7c1b531215f46e431dc42587b6601988.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    min-height: 100vh;
}